# Created by https://www.gitignore.io/api/psoccreator

### PSoCCreator ###
# Project Settings
*.cywrk.*
*.cyprj.*
*.cydsn/*.cyprj.*

# Generated Assets and Resources
Debug/
Backup/
Docs/
Release/
Export/
*/codegentemp
*/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.log
.*DS_Store

# End of https://www.gitignore.io/api/psoccreator
Project_LTEBS/Saturimetro.cydsn/BUILD.log
Project_LTEBS/Saturimetro.cydsn/BUILD.log
Project_LTEBS/Saturimetro.cydsn/Saturimetro_timing.html
Project_LTEBS/Saturimetro.cydsn/Saturimetro.rpt
Project_LTEBS/Saturimetro.cydsn/Saturimetro.cyprj
Project_LTEBS/Saturimetro.cydsn/Saturimetro.cyfit
Project_LTEBS/Saturimetro.cydsn/MAX30101.h
Project_LTEBS/Saturimetro.cydsn/MAX30101.c
Project_LTEBS/Saturimetro.cydsn/main.c
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/project.h
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cymetadata.c
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitterrv.inc
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitteriar.inc
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfittergnu.inc
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitter_cfg.c
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitter.h
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/config.hex
Project_LTEBS/Saturimetro.cydsn/Export/PSoCCreatorExportIDE.xml
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_PM.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_PM.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_IntClock.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_IntClock.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_INT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_INT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_BOOT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_BOOT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/timer_clock.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/timer_clock.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SpO2.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SpO2.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SOURCE_C__ARM_GCC_GENERIC.txt
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SOURCE_ASM__ARM_GCC_GENERIC.txt
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SDA_1.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SDA_1.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SCL_1.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SCL_1.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.map
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.hex
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.elf
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.a
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101_INT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101_INT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/main.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/main.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/LINK_options.txt
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/library.deps
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_MAX30101.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_MAX30101.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_1.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_1.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_SLAVE.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_SLAVE.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_PM.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_PM.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_MASTER.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_MASTER.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_INT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_INT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_BOOT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_BOOT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Interface.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Interface.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/HeartRate.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/HeartRate.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyutils.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyutils.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CySpc.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CySpc.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyPm.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyPm.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cymetadata.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cymetadata.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyLib.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyLib.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyFlash.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyFlash.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyfitter_cfg.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyfitter_cfg.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyDmac.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyDmac.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyBootAsmGnu.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyBootAsmGnu.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cy_em_eeprom.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cy_em_eeprom.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Connection_LED.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Connection_LED.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Cm3Start.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Cm3Start.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/.deps/SOURCE_C__ARM_GCC_GENERIC.P
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/.deps/SOURCE_ASM__ARM_GCC_GENERIC.P
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_u.sdc
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_timing.html
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_t.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_t.lib
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_r.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_r.lib
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_p.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_p.pco
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_p.lib
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.v
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.tr
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.svd
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.sdf
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.sdc
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.rt_log
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.rpt
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.route
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.plc_log
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.pco
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.pci
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.cyfit
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.cycdx
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.ctl
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.bvf
Project_LTEBS/Saturimetro.cydsn/codegentemp/project_ids.txt
Project_LTEBS/Saturimetro.cydsn/codegentemp/project.h
Project_LTEBS/Saturimetro.cydsn/codegentemp/placer.log
Project_LTEBS/Saturimetro.cydsn/codegentemp/lcpsoc3/index
Project_LTEBS/Saturimetro.cydsn/codegentemp/generated_files.txt
Project_LTEBS/Saturimetro.cydsn/codegentemp/elab_dependencies.txt
Project_LTEBS/Saturimetro.cydsn/codegentemp/cymetadata.c
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitterrv.inc
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitteriar.inc
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfittergnu.inc
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitter_cfg.c
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitter.h
Project_LTEBS/Saturimetro.cydsn/codegentemp/config.hex
Project_LTEBS/Saturimetro.cydsn/codegentemp/bitstream.txt
Project_LTEBS/Saturimetro.cydsn/BUILD.log
Project_LTEBS/Saturimetro.cydsn/Saturimetro_timing.html
Project_LTEBS/Saturimetro.cydsn/Saturimetro.rpt
Project_LTEBS/Saturimetro.cydsn/Saturimetro.cyprj
Project_LTEBS/Saturimetro.cydsn/Saturimetro.cyfit
Project_LTEBS/Saturimetro.cydsn/MAX30101.h
Project_LTEBS/Saturimetro.cydsn/MAX30101.c
Project_LTEBS/Saturimetro.cydsn/main.c
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/project.h
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cymetadata.c
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitterrv.inc
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitteriar.inc
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfittergnu.inc
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitter_cfg.c
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/cyfitter.h
Project_LTEBS/Saturimetro.cydsn/Generated_Source/PSoC5/config.hex
Project_LTEBS/Saturimetro.cydsn/Export/PSoCCreatorExportIDE.xml
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_PM.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_PM.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_IntClock.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_IntClock.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_INT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_INT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_BOOT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug_BOOT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/UART_Debug.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/timer_clock.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/timer_clock.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SpO2.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SpO2.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SOURCE_C__ARM_GCC_GENERIC.txt
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SOURCE_ASM__ARM_GCC_GENERIC.txt
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SDA_1.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SDA_1.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SCL_1.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/SCL_1.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.map
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.hex
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.elf
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Saturimetro.a
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101_INT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101_INT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/MAX30101.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/main.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/main.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/LINK_options.txt
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/library.deps
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_MAX30101.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_MAX30101.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_1.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr_1.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/isr.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_SLAVE.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_SLAVE.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_PM.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_PM.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_MASTER.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_MASTER.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_INT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_INT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_BOOT.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master_BOOT.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Master.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Interface.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/I2C_Interface.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/HeartRate.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/HeartRate.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyutils.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyutils.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CySpc.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CySpc.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyPm.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyPm.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cymetadata.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cymetadata.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyLib.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyLib.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyFlash.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyFlash.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyfitter_cfg.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cyfitter_cfg.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyDmac.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyDmac.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyBootAsmGnu.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/CyBootAsmGnu.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cy_em_eeprom.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/cy_em_eeprom.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Connection_LED.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Connection_LED.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Cm3Start.o
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/Cm3Start.lst
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/.deps/SOURCE_C__ARM_GCC_GENERIC.P
Project_LTEBS/Saturimetro.cydsn/CortexM3/ARM_GCC_541/Debug/.deps/SOURCE_ASM__ARM_GCC_GENERIC.P
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_u.sdc
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_timing.html
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_t.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_t.lib
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_r.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_r.lib
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_p.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_p.pco
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro_p.lib
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.vh2
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.v
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.tr
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.svd
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.sdf
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.sdc
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.rt_log
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.rpt
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.route
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.plc_log
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.pco
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.pci
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.cyfit
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.cycdx
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.ctl
Project_LTEBS/Saturimetro.cydsn/codegentemp/Saturimetro.bvf
Project_LTEBS/Saturimetro.cydsn/codegentemp/project_ids.txt
Project_LTEBS/Saturimetro.cydsn/codegentemp/project.h
Project_LTEBS/Saturimetro.cydsn/codegentemp/placer.log
Project_LTEBS/Saturimetro.cydsn/codegentemp/lcpsoc3/index
Project_LTEBS/Saturimetro.cydsn/codegentemp/generated_files.txt
Project_LTEBS/Saturimetro.cydsn/codegentemp/elab_dependencies.txt
Project_LTEBS/Saturimetro.cydsn/codegentemp/cymetadata.c
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitterrv.inc
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitteriar.inc
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfittergnu.inc
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitter_cfg.c
Project_LTEBS/Saturimetro.cydsn/codegentemp/cyfitter.h
Project_LTEBS/Saturimetro.cydsn/codegentemp/config.hex
Project_LTEBS/Saturimetro.cydsn/codegentemp/bitstream.txt
Project_LTEBS/Saturimetro.cydsn/BUILD.log
Project_LTEBS/Saturimetro.cydsn/BUILD.log
